html,
body {
  font-size: 120%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	white-space: normal;
	min-height: 100vh;
}

.h1 {
  color: white;
  font-size: 1.5rem;
}

button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 100;
  transition: border-color, box-shadow;
  transition-duration: 0.2s;
  border: 1px solid #e7e4ec;
  padding: 0.4375rem 1.375rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;  
  background-color: rgb(112, 238, 74);
  color: #000000;
  box-shadow: 0 0.4rem 1.0rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  }

  input {
  font-family: 'Rajdhani', sans-serif;
    border-radius: 100px;
    outline: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
    text-rendering: optimizeLegibility;
    transition: border-color, box-shadow;
    transition-duration: 0.2s;
    border: 2px solid #7d35f0;
    padding: 14px 44px 14px 20px;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

  .display-4 {
    text-shadow: 0.5rem;
    text-align: justify;
    margin-left: 0 auto;
  margin-right: 0 auto;
  }

table {
  width: 100%;
}

td, th {
  border: 1px solid #e4e9ec;
  text-align: left;
  padding: 14px 44px 14px 20px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

tr:nth-child(even) {
  background-color: #dddddd;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
}

.error {
  color: red;
  font-weight: 200;
  font-size: 18px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  padding-top: 2rem;
  align-items: center;
}

.total {
  font-size: 150%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

.form {
  margin-top: 25px;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

input {
  border-radius: 100px;
  outline: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #292e31;
  text-rendering: optimizeLegibility;
  transition: border-color, box-shadow;
  transition-duration: 0.4s;
  border: 1px solid #e4e9ec;
  padding: 14px 44px 14px 20px;
}

input::-webkit-input-placeholder {
  color: #635a5a;
}

input:focus {
  border: 1px solid #93ccee;
  box-shadow: 0 0 0 3px #d5ecfb;
}

h1 {
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: #5632ff;
  box-sizing: border-box;
  padding: 2rem;
  background: linear-gradient(150deg, #53f 40%, #b76ac4 100%);
}
