html,
body {
  font-size: 120%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	white-space: normal;
	min-height: 100vh;
}

h1 {
  width: 100%;
  box-sizing: border-box;
  padding: 2.2rem;
  color: #e0dfdc;
  background-color: rgb(46, 86, 126);
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

button {
  font-weight: 100;
  transition: border-color, box-shadow;
  transition-duration: 0.2s;
  border: 1px solid #e7e4ec;
  padding: 0.4375rem 1.375rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;  
  color: #000000;
  box-shadow: 0 0.4rem 1.0rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  }

  input {
    border-radius: 100px;
    outline: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
    text-rendering: optimizeLegibility;
    transition: border-color, box-shadow;
    transition-duration: 0.2s;
    border: 2px solid #7d35f0;
    padding: 14px 44px 14px 20px;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

  .display-4 {
    text-shadow: 0.5rem;
    text-align: justify;
    margin-left: 0 auto;
  margin-right: 0 auto;
  }

  .button-1 {
    background-color: rgb(89, 182, 61);
    color: white;
  }
  .button-2 {
    background-color: rgb(179, 67, 73);
    color: white;
  }

  @media (max-width: 576px) {
    .button-1 {
    font-size: 1rem;
    background-color: rgb(89, 182, 61);
    color: white;
    }
  }
  
  @media (max-width: 576px) { 
    .button-2 {
    font-size: 1rem;
    background-color: rgb(179, 67, 73);
    color: white;
    }
  }


table {
  width: 90%;
}

td, th {
  border: 1px solid #e4e9ec;
  text-align: left;
  padding: 14px 44px 14px 20px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

tr:nth-child(even) {
  background-color: #dddddd;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
}

.error {
  color: red;
  font-weight: 200;
  font-size: 18px;
}

.wrapper {
  margin: 0 36px 0 36px;
  max-width: 100%;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 2rem;
  align-items: center;
}

.total {
  font-size: 150%;
  text-decoration: none;
  font-weight: 400;
}
.total .total-border {
  border: 1px solid rgba(0, 0, 0, 0.4);
	background: transparent;
	line-height: 3.0rem;
  border-radius: 10px;
}

.form {
  margin-top: 25px;
  width: 100%;
  font-weight: 200;
}


.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin-top: 25px;
  font-weight: 200;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

input {
  border-radius: 100px;
  outline: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #292e31;
  text-rendering: optimizeLegibility;
  transition: border-color, box-shadow;
  transition-duration: 0.4s;
  border: 1px solid #e4e9ec;
  padding: 14px 20px 14px 20px;
}

input::-webkit-input-placeholder {
  color: #635a5a;
}

input:focus {
  border: 1px solid #93ccee;
  box-shadow: 0 0 0 3px #d5ecfb;
}

/* Form - Bootstrap Override */
.btn-lg,
.btn-group-lg > .btn {
  margin-top: 10px;
	line-height: 1.2;
}

/* Form - iOS Override */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	-webkit-appearance: none;
}

.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bdbdbd;
}

.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #bdbdbd;
}

.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #bdbdbd;
}